
<div class="row">
  <ul class="list-group">
    <li *ngFor="let eachProduct of products" class="list-group-item">
      <app-product [product]="eachProduct"
      (deleteEvent) = "deleteProduct($event)" ></app-product>
    </li>
  </ul>
</div>